@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

.slideshow {
  /* width: 100%;
  max-width: 1188px; */
  margin: 42px auto 58px;
}

.slide {
  background-color: #fafafa;
  height: 530px;
  margin: 10px;
  padding: 0px;
}

#slide1-text {
  /* Tom Porvaznik builds web apps to simplify, empower, automate. */

  /* position: absolute; */
  /* width: 304px; */
  /* height: 357px; */
  /* left: 174px; */
  /* top: 140px; */
  margin: 34px 0px 0px 48px;

  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 46px;
  line-height: 62px;
  /* or 135% */

  color: var(--h1-color);
}

.slide-content {
  display: flex;
}

span.orange-underline {
  border-bottom: 6px solid var(--accent3);
  display: inline-block;
  line-height: 36px;
}

.nowrap {
  white-space: nowrap;
}

button#build-btn {
  margin: 20px 40px 43px;

  /* Build-btn */

  /* position: absolute; */
  width: 287px;
  height: 60px;
  /* left: 179px;
  top: 533px; */

  /* DropShadow */
  box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.1);

  /* Rectangle 30 */

  box-sizing: border-box;

  background: #f5f5f5;
  border: 6px solid var(--accent3);
  border-radius: 6px;

  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;

  color: #004db3;
}

button#build-btn:hover {
  background: #f0f0f0;
  border: 6px solid #004db3; /* accent2 */
  border-radius: 6px;
  color: #00357a; /* h1 color */


  /* Rectangle 30 */

/* box-sizing: border-box;

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 6.25%;

background: #F0F0F0;
border: 6px solid #004DB3;
border-radius: 6px; */
/* Property 1=defualt, Property 2=unclicked */

/* position: absolute;
width: 287px;
height: 64px;
left: 20px;
top: 94px; */

box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.1);
transform: translate(2px, 2px);

}



/* Icons */
@font-face {
  font-family: "slick";
  font-weight: normal;
  font-style: normal;

  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"),
    url("./fonts/slick.woff") format("woff"),
    url("./fonts/slick.ttf") format("truetype"),
    url("./fonts/slick.svg#slick") format("svg");
}
/* Arrows */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;

  position: absolute;
  top: 50%;

  display: block;

  width: 20px;
  height: 20px;
  padding: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);

  cursor: pointer;

  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;

  opacity: 0.75;
  color: white;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}
[dir="rtl"] .slick-prev {
  right: -25px;
  left: auto;
}
.slick-prev:before {
  content: url(/images/icons/left-arrow.svg);
}
[dir="rtl"] .slick-prev:before {
  content: url(/images/icons/right-arrow.svg);
}

.slick-next {
  right: -25px;
}
[dir="rtl"] .slick-next {
  right: auto;
  left: -25px;
}
.slick-next:before {
  content: url(/images/icons/right-arrow.svg);
}
[dir="rtl"] .slick-next:before {
  content: url(/images/icons/left-arrow.svg);
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;

  display: block;

  width: 100%;
  padding: 0;
  margin: 0;

  list-style: none;

  text-align: center;
}
.slick-dots li {
  position: relative;

  display: inline-block;

  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;

  cursor: pointer;
}
.slick-dots li button {
  font-size: 0;
  line-height: 0;

  display: block;

  width: 20px;
  height: 20px;
  padding: 5px;

  cursor: pointer;

  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;

  position: absolute;
  top: 0;
  left: 0;

  width: 20px;
  height: 20px;

  content: "•";
  text-align: center;

  opacity: 0.25;
  color: black;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: black;
}
