html {
  overflow-y: scroll;
  font-family: "Fira Sans", Helvetica, sans-serif;
}

body {
  background-color: #f0eded;
  background: url(../images/newSparserCircuitBoard.svg) repeat center/526px;
  margin: 0;
  padding: 0;
}

main {
  width: 100%;
  max-width: 1208px;
  margin: auto;
  /* padding: 20px; */
}

p {
  /* todo */
}

a {
  /* todo */
}

a:visited {
  /* todo */
}

/*Portal-bar. Below this comment contains all of the code for the 
portal bar, including the code for the fluffy white clouds 
containing the links*/
.portal-bar {
  position: sticky;
  top: 0px;
  left: 0px;
  background: #fcfcfc;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  height: 64px;
  z-index: 1000;
}

#portal-bar-flex {
  /* width: 100%; */
  max-width: 1188px;
  margin: auto;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  z-index: 1;
  box-sizing: content-box;
}

@media (max-width: 1236px) {
  #portal-bar-flex {
    padding: 0 24px;
  }
}

#home_logo {
  margin-top: 8px;
  z-index: 100;
}

/* This section contains all css for the navbar*/
.nav {
  color: rgba(0, 0, 0, 0);
  width: fit-content;
  /* margin: auto; */
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.nav a {
  margin: 0px 0px 7px 74px;
  color: var(--GrayText2-Lighter);
  font-weight: 600;
  line-height: 12px;
  font-size: 16px;
  text-decoration: none;
  border-bottom: 5px solid transparent;
}

#nav_portfolio {
}

#nav_skills {
}

#nav_about {
}

/*hero image css*/

.hero-section {
  position: absolute;
  top: 0px;
  left: 0px;
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 100vh;
}

.hero-section img {
  position: absolute;
  top: 0px;
  left: 0px;
  object-fit: cover;
  height: 100vh;
  width: 100vw;
}

.hero-text {
  position: absolute;
  top: 0px;
  left: 0px;
  display: grid;
  align-self: center;
  text-align: center;
  z-index: 50;
  height: 100vh;
  width: 100%;
  background-color: rgba(3, 2, 7, 0.3);
}

.hero-text h1 {
  color: white;
  font-size: 12vmin;
  font-family: "Courier New", Courier, monospace;
  font-weight: 1000;
  margin: 0;
  padding: 0 0.2em;
  align-self: center;
}

.hero-text h2 {
  color: white;
  font-size: 5vmin;
  font-family: "Courier New", Courier, monospace;
  text-decoration: solid;
}

/*Styling for Projects section on apps page*/

#projects {
  width: 100%;
  background-color: #fff;
  padding: 30px 0;
}

#projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 750px;
  margin: auto;
}

.project-tile {
  background-color: rgb(255, 255, 255);
  border-radius: 1px;
  width: 300px;
  height: 200px;
  margin: 2em;
  display: grid;
  grid-template-columns: 1fr 90% 1fr;
  grid-template-rows: 1fr 75% 5% 20% 1fr;
}

.project-tile img {
  margin: 0 auto;
  height: 100%;
  grid-area: 2/2/3/3;
  border: grey;
  box-shadow: 3px 2px 2px darkgrey;
}

.project-tile header {
  color: rgb(0, 0, 0);
  font-family: courier;
  font-size: 20px;
  text-align: center;
  grid-area: 4/2/5/3;
  text-decoration-line: none;
  text-decoration-color: #000000;
}

/*Card container for tiles of elements*/
.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 650px;
  margin: auto;
}

/* freecodecamp styles */
.fcc-main {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: repeat(8, auto);
  justify-items: center;
}

.fcc-fullstack-image-container {
  grid-area: 1 / 2 / 4 / 3;
}

.fcc-fullstack-image {
  width: 80vw;
  max-width: 80vh;
  margin: 1vw;
}

.fcc-content {
  grid-column: 2/3;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  margin: 2em;
}

.fcc-certificate-image {
  width: 70vw;
  max-width: 70vh;
  margin: 1vw;
}

.fcc-content-reverse {
  grid-column: 2/3;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  margin: 2em;
}

/* For fullstack certification description bullets */
.fcc-content li {
  margin: 1vw 1em;
  font-weight: 700;
  text-decoration: underline;
  text-decoration-color: red;
}

.fcc-project-info {
  width: 70vw;
  max-width: 40vh;
  margin: 2em;
}

/* For fcc project titles */
.fcc-project-info h4 {
  text-align: center;
}

/* Slideshow */
.slideshow {
  /* width: 100%;
  max-width: 1188px; */
  margin: 48px auto 60px;
}

.slide {
  background-color: #fafafa;
  height: 530px;
  margin: auto 10px;
  padding: 0px;

  box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.slide1-text {
  margin: 34px 0px 0px 48px;

  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 46px;
  line-height: 62px;
  /* or 135% */

  color: var(--h1-color);
}

.portfolio-slide-content,
.slide1-text {
  margin: 34px 22px 0px 48px;
}

.portfolio-slide-content h1 {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 43px;
  color: var(--h1-color);
  margin-top: 12px;
  margin-bottom: 8px;
}

.portfolio-slide-content h2 {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 18px;
  letter-spacing: -0.03em;
  font-variant: small-caps;
  margin-bottom: 12px;

  color: #575757; /* gray-text2 */
}

.portfolio-skills-section {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-skill {
  display: flex;
  align-items: center;
  width: 50%;
}

.body-text-20px {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  color: var(--GrayTest1); /* gray-text1 */
}

.portfolio-skill img {
  padding-right: 18px;
}

.portfolio-skill p.body-text-20px {
  margin-top: 12px;
  margin-bottom: 12px;
}

.portfolio-slide-content > p.body-text-20px {
  margin-top: 10px;
}

.slide-content {
  display: flex;
}

span.orange-underline {
  border-bottom: 6px solid var(--accent3);
  display: inline-block;
  line-height: 36px;
}

.nowrap {
  white-space: nowrap;
}

html {
  scroll-behavior: smooth;
}

button.build-btn {
  margin: 20px 40px 43px;

  /* Build-btn */

  /* position: absolute; */
  width: 287px;
  height: 60px;
  /* left: 179px;
  top: 533px; */

  /* DropShadow */
  box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.1);

  /* Rectangle 30 */

  box-sizing: border-box;

  background: #f5f5f5;
  border: 6px solid var(--accent3);
  border-radius: 6px;

  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;

  color: #004db3;
}

button#build-btn:hover {
  background: #f0f0f0;
  border: 6px solid #004db3; /* accent2 */
  border-radius: 6px;
  color: #00357a; /* h1 color */

  /* Rectangle 30 */

  /* box-sizing: border-box;

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 6.25%;

background: #F0F0F0;
border: 6px solid #004DB3;
border-radius: 6px; */
  /* Property 1=defualt, Property 2=unclicked */

  /* position: absolute;
width: 287px;
height: 64px;
left: 20px;
top: 94px; */

  box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.1);
  transform: translate(2px, 2px);
}

section#skills,
section#about {
  margin-right: 10px;
  margin-bottom: 60px;
  margin-left: 10px;
}

section > h2 {
  color: var(--h1-color);

  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  margin-top: 0px;
  margin-bottom: 36px;

  border-bottom: 8px solid var(--accent3);
  display: inline-block;
  line-height: 34px;
}

.section-card {
  /* position: absolute; */
  width: 1188px;
  height: 530px;
  /* left: 126px;
  top: 765px; */

  background: #fafafa;
  box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  /* margin: 28px auto; */
}

/* Skills Section */
section#skills > div.section-card {
  padding: 60px 48px;
  box-sizing: border-box;
}
div.skills-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 56px;
}
div.skill {
  display: flex;
  width: 212px;
  align-items: center;
}

div.skill > div.image-container {
  width: 44px;
  text-align: center;
}

div.skill > p.skill-name {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 31px;

  color: var(--GrayTest1);

  padding-left: 30px;
  margin: 0;
}
/* /Skills Section */

/* About Section */
section#about > .section-card {
  display: flex;
}

div#about-img {
  width: 50%;
  margin-left: 48px;
  margin-top: 54px;
}

div#about-content {
  width: 50%;
  margin-right: 48px;
  margin-top: 54px;
}

section#about > .section-card > div#about-img img {
  width: 434px;
  border-radius: 100%;
}

section#about p.headline {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 38px;
  /* or 146% */

  color: var(--h1-color);
}

div.nav > a.selected-nav {
  border-bottom: 5px solid var(--accent2);
  display: inline-block;
}

p.headline span.orange-underline {
  /* border-bottom: 8px solid var(--accent3);
  display: inline-block; */
  line-height: 22px;
}

section#about p.body-text-20px span.orange-underline {
  border-bottom: 4px solid var(--accent3);
  display: inline-block;
  line-height: 16px;
}

section#about div.contact-row {
  display: flex;
  width: 300px;
  margin: auto;
  align-items: center;
  justify-content: space-between;
}

button#email {
  border: none;
  cursor: pointer;
}

/* Email Popup */
.popup {
  display: none;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1; /* Ensure popup is above other content */
}

.popup-close-row {
  display: flex;
  justify-content: flex-end;
}

button#close-popup {
  font-size: 26px;
  color: var(--GrayText2-Lighter);
  border: none;
}

button#copy-email {
  position: relative;
  border: none;
  background: none;
}

.email-button-row {
  display: flex;
  width: 100px;
  margin: 10px auto 16px;
  align-items: center;
  justify-content: space-between;
}

/* ! */
#copy-email-message {
  top: -4px;
  left: 50%;
  margin-bottom: -5px;
  transform: translate(-50%, -100%);
  position: absolute;
  display: none;
  width: auto;
  white-space: nowrap;
  font-size: 18px;
  background-color: #d1e6dd;
  color: #02331c;
  border: 1px solid #188754;
  padding: 6px 8px;
  border-radius: 2px;
}

div#copy-email-message img {
  width: 20px;
  height: 20px;
  padding-right: 6px;
}

#copy-email > img,
#mailto > img {
  width: 28px;
}

#copy-email,
#mailto {
  cursor: pointer;
}

button {
  background-color: transparent;
}
/* ! END */
/* /Email Popup */

/* /About Section */

/* * * VARIABLES * * */

:root {
  --GrayTest1: #434343;
  --GrayText2-Lighter: #575757;
  --h1-color: #00357a;
  --accent2: #004db3;
  --accent3: #f26419;
}
