html {
  overflow-y: scroll;
  font-family: "Fira Sans", Helvetica, sans-serif;
}

body {
  background-color: #f0eded;
  background: url(../images/newSparserCircuitBoard.svg) repeat center/526px;
  margin: 0;
  padding: 0;
}

p {
  /* todo */
}

a {
  /* todo */
}

a:visited {
  /* todo */
}






/*Portal-bar. Below this comment contains all of the code for the 
portal bar, including the code for the fluffy white clouds 
containing the links*/
.portal-bar {
  position: sticky;
  top: 0px;
  left: 0px;
  background: #FCFCFC;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  height: 64px;
}

#portal-bar-flex {
  /* width: 100%; */
  max-width: 1188px;
  margin: auto;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  z-index: 1;
  box-sizing: content-box;
}

@media (max-width: 1236px) {
  #portal-bar-flex {
    padding: 0 24px;
  }
}

#home_logo {
  margin-top: 8px;
  z-index: 100;
}

/* This section contains all css for the navbar*/
.nav {
  color: rgba(0, 0, 0, 0);
  width: fit-content;
  /* margin: auto; */
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.nav a {
  margin: 0px 0px 7px 74px;
  color: var(--GrayText2-Lighter);
  font-weight: 600;
  /* medium */
  font-size: 16px;
  text-decoration: none;
}

#nav_portfolio {}

#nav_skills {}

#nav_about {}


/*hero image css*/

.hero-section {
  position: absolute;
  top: 0px;
  left: 0px;
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 100vh;



}

.hero-section img {
  position: absolute;
  top: 0px;
  left: 0px;
  object-fit: cover;
  height: 100vh;
  width: 100vw;

}

.hero-text {
  position: absolute;
  top: 0px;
  left: 0px;
  display: grid;
  align-self: center;
  text-align: center;
  z-index: 50;
  height: 100vh;
  width: 100%;
  background-color: rgba(3, 2, 7, 0.3);
}

.hero-text h1 {
  color: white;
  font-size: 12vmin;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 1000;
  margin: 0;
  padding: 0 .2em;
  align-self: center;

}

.hero-text h2 {
  color: white;
  font-size: 5vmin;
  font-family: 'Courier New', Courier, monospace;
  text-decoration: solid;

}


/*Styling for Projects section on apps page*/

#projects {
  width: 100%;
  background-color: #fff;
  padding: 30px 0;
}

#projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 750px;
  margin: auto;
}

.project-tile {
  background-color: rgb(255, 255, 255);
  border-radius: 1px;
  width: 300px;
  height: 200px;
  margin: 2em;
  display: grid;
  grid-template-columns: 1fr 90% 1fr;
  grid-template-rows: 1fr 75% 5% 20% 1fr;
}

.project-tile img {
  margin: 0 auto;
  height: 100%;
  grid-area: 2/2/3/3;
  border: grey;
  box-shadow: 3px 2px 2px darkgrey;
}

.project-tile header {
  color: rgb(0, 0, 0);
  font-family: courier;
  font-size: 20px;
  text-align: center;
  grid-area: 4/2/5/3;
  text-decoration-line: none;
  text-decoration-color: #000000;
}

/*Card container for tiles of elements*/
.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 650px;
  margin: auto;
}


/* freecodecamp styles */
.fcc-main {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: repeat(8, auto);
  justify-items: center;
}

.fcc-fullstack-image-container {
  grid-area: 1 / 2 / 4 / 3;

}

.fcc-fullstack-image {
  width: 80vw;
  max-width: 80vh;
  margin: 1vw;
}

.fcc-content {
  grid-column: 2/3;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  margin: 2em;
}

.fcc-certificate-image {
  width: 70vw;
  max-width: 70vh;
  margin: 1vw;
}

.fcc-content-reverse {
  grid-column: 2/3;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  margin: 2em;
}

/* For fullstack certification description bullets */
.fcc-content li {
  margin: 1vw 1em;
  font-weight: 700;
  text-decoration: underline;
  text-decoration-color: red;
}

.fcc-project-info {
  width: 70vw;
  max-width: 40vh;
  margin: 2em;
}

/* For fcc project titles */
.fcc-project-info h4 {
  text-align: center;
}



/* * * VARIABLES * * */

:root {
  --GrayText2-Lighter: #575757;
}